<a href="https://colab.research.google.com/github/CleverEnd/Fundamentos-Ciencia-De-Datos-Modulo2-/blob/main/ChallengeDataCollectionJosephTrejo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Lectura de archivos CSV

**MiniChallenge**
1. Crear un archivo csv con un tabulador de **,** (coma) y con dos columnas; una con los **nombres** de los integrantes del equipo y la segunda con sus edades.
2. Abrir y mostrar la columna de los nombres.

In [2]:
import csv

In [3]:
#Crea y Escribe tu CSV aqui

with open('file.csv', mode = 'w') as csv_file:
  csv_writer = csv.writer(csv_file)  
  csv_writer.writerow(['ID', 'Name', 'Age'])          
  csv_writer.writerow(['1', 'Joseph', '23'])
  csv_writer.writerow(['2', 'Johel', '26'])
  csv_writer.writerow(['3', 'Alex', '22'])

In [4]:
#Lee tu CSV aqui 
with open('file.csv', mode = 'r') as csv_file:
  csv_reader = csv.reader(csv_file)
  
  for row in csv_reader:
    print(row)

['ID', 'Name', 'Age']
['1', 'Joseph', '23']
['2', 'Johel', '26']
['3', 'Alex', '22']

In [5]:
#Muestra el contenido de la columna aqui
rows_list = []  

with open('file.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter = ',')   
    for row in csv_reader:
      rows_list.append(row)

for row in rows_list:
  print(row[1])

Name
Joseph
Johel
Alex

###Lectura y exploracion de archivo CSV con Pandas


[Pandas](https://pandas.pydata.org) es un módulo externo en Python que provee de herramientas para el análisis y manipulación de datos comúnmente utilizado en *Data Science* debido a que es rápido, poderoso, flexible y fácil de utilizar.

Una de las principales ventajas de utilizar un DataFrame en lugar de una estructura de datos convencional de Python es el acceso a funcionalidades de uso frecuente. Una de estas es la posibilidad de realizar operaciones de agregación (metodos) sobre las columnas.

Existen 13 funciones de agregación (metodos) incluidas en Pandas:
1. `mean()`: Calcula el promedio.
1. `sum()`: Calcula la suma.
1. `size()`: Calcula el tamaño.
1. `count()`: Calcula el tamaño ignorando valores vacíos.
1. `std()`: Calcula la desviación estándar.
1. `var()`: Calcula la varianza.
1. `sem()`: Calcula el error estándar de los valores promedio.
1. `describe()`: Genera estadísticas descriptivas (promedio, desviación estándar, mínimo, máximo, quartiles).
1. `first():` Devuelve el primer elemento.
1. `last()`: Devuelve el último elemento.
1. `nth()` : Devuel el n-ésimo elemento para un valor de `n` entero, o un subconjunto si `n` es una lista.
1. `min()`: Calcula el mínimo.
1. `max()`: Calcula el máximo.

**MiniChallenge**
1. Entra a Kaggle, descarga el archivo [water_potability.csv](https://www.kaggle.com/adityakadiwal/water-potability?select=water_potability.csv) y subelo a tu carpeta de Files
2. Importar la base de datos con pandas al notebook
3. Mostrar la columna 'Turbidity'
4. Sacar promedio de la columna 'Ph'

In [6]:
import pandas as pd

In [12]:
df_water = pd.read_csv('water_potability.csv')
df_water

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1
3273,9.419510,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1

In [13]:
 df_water['Turbidity']

0       2.963135
1       4.500656
2       3.055934
3       4.628771
4       4.075075
          ...
3271    4.435821
3272    2.798243
3273    3.298875
3274    4.708658
3275    2.309149
Name: Turbidity, Length: 3276, dtype: float64

In [15]:
df_water['ph'].mean()

7.080794504276819

###Accediendo a Páginas Web

**MiniChallenge**
1. Accedemos a Project Gutemberg y elegir el libro de tu preferencia en formato txt https://www.gutenberg.org/
2. leer el libro elegido
3. Mostrar los primeros 5000 caracteres

In [16]:
import urllib.request

In [19]:
url = 'https://www.gutenberg.org/cache/epub/68312/pg68312.txt'
response = urllib.request.urlopen(url)
Sous_les_eaux_tumultueutes = response.read().decode()

In [20]:
print(Sous_les_eaux_tumultueutes[0:5000])

﻿The Project Gutenberg eBook of Sous les eaux tumultueutes, by Dora
Melegari

This eBook is for the use of anyone anywhere in the United States and
most other parts of the world at no cost and with almost no restrictions
whatsoever. You may copy it, give it away or re-use it under the terms
of the Project Gutenberg License included with this eBook or online at
www.gutenberg.org. If you are not located in the United States, you
will have to check the laws of the country where you are located before
using this eBook.

Title: Sous les eaux tumultueutes

Author: Dora Melegari

Release Date: June 14, 2022 [eBook #68312]

Language: French

Produced by: Laurent Vogel, Chuck Greif and the Online Distributed
             Proofreading Team at https://www.pgdp.net (This file was
             produced from images generously made available by the
             Bibliothèque nationale de France (BnF/Gallica))

*** START OF THE PROJECT GUTENBERG EBOOK SOUS LES EAUX
TUMULTUEUTES ***





                      SOUS LES EAUX TUMULTUEUSES




                             DORA MELEGARI

                             SOUS LES EAUX
                             TUMULTUEUSES

                       [Illustration: colophon]

                                 PARIS
                         LIBRAIRIE FISCHBACHER
                         33, RUE DE SEINE, 33

                                 1923

  Droits de traduction et de reproduction réservés pour tous les pays
                Copyright by Librairie Fischbacher 1923


_Je dédie ce livre à ceux qui, comme moi, ont fermement espéré et
espèrent encore qu’après la guerre et avec l’établissement de la paix,
s’ouvrira pour l’homme une destinée meilleure que celle qu’il a connue
jusqu’ici._




PRÉFACE

    Je ne fais pas un livre, il se fait.
    Il mûrit et croît dans ma tête, comme un fruit.
               ALFRED DE VIGNY.


Ces eaux qui, jadis, couvraient le monde sont aujourd’hui étrangement
bourbeuses et agitées. La surface des choses apparaît partout
inquiétante. Qu’y a-t-il sous cette surface? L’angoissante question se
pose à tous les cœurs qui sentent et à tous les cerveaux qui
réfléchissent!

Du temps où le respect de soi-même, l’intérêt bien entendu et la savante
hypocrisie imposaient aux hommes intelligents, ou du moins cultivés,
une attitude correcte, les mots _sous la surface des choses_ avaient une
signification bien différente de celle que je leur attribue aujourd’hui.

Auparavant, ils auraient indiqué ce que les individus cachaient de
médiocre, de brutal, et même de cruel sous des dehors corrects et
conventionnels. Aujourd’hui que la plupart des êtres n’essayent même
plus de masquer leurs légèretés, leurs petitesses et leurs convoitises,
il n’y a guère, sous leurs actes et leurs allures, de motifs secrets à
découvrir.

Toutes les laideurs sont devenues apparentes et visibles. Nous vivons à
une époque de terrible sincérité; on ne le relève pas suffisamment.

Stendhal a dit quelque part que, pour les femmes, dire la vérité
équivalait à enlever leur fichu; mais, aujourd’hui, elles ne portent
plus de fichu, et les disgraciées elles-mêmes exposent avec courage les
défectuosités physiques que jadis les filles d’Ève essayaient
soigneusement de dissimuler aux regards. Quant aux hommes, combien
d’entre eux ne tentent même plus de se défendre si l’on attaque leur
caractère ou leur probité!

Ceux qui en manquent n’en éprouvent plus de honte; ceux qui les
possèdent, s’ils y mettent encore du prix dans le fond de leur âme, sont
devenus indifférents à l’opinion publique. Ce mépris de l’opinion
publique est un signe caractéristique de notre temps.

       *       *       *       *       *

Ce qu’il faut discerner sous la surface des eaux tumultueuses, ce ne
sont donc pas les laideurs secrètes, puisqu’avec tant de complaisances
on les étale, mais bien plutôt les aspirations d’ardente générosité et
de pure beauté qui se cachent parfois sous les apparences déconcertantes
de la psyché moderne, tels des symptômes annonciateurs d’une aube
nouvelle!

Cependant, malgré ces fugitives lueurs, le désarroi des pauvres âmes est
resté lamentable. Après l’ébranlement cérébral de la guerre et les
déceptions de la paix, on a pu croire qu’elles étaient devenues muettes
pour toujours! Ce phénomène d’anéantissement paraît d’autant plus
redoutable qu’il est universel et se manifeste aussi bien chez les
vainqueurs que chez les vaincus! Le monde est devenu semblable à une mer
en tempête, sillonnée de barques sans pilotes, et la marée ne cesse de
monter...

Le spectacle, vraiment effarant, abat les plus fermes courages. Une
mystérieuse intuition avertit cependant ceux qui ont l’habitude de
regarder et d’observer que des feux s’allument encore sur les montagnes,
et que de ce chaos effrayant, de ce déchaînement de convoitises
violentes, naîtra un monde meilleur, précurseur du règne de l’espri

###Manipulacion de JSON con Python

JavaScript Object Notation (JSON) El formato mas utilizado para trasferir informacion (intercambio de datos a través de la web)

**MiniChallenge**
 
1. Busquemos acceder a las 'description' del json

In [21]:
import json

In [22]:
otro_JSON='''
{
    "marcadores": [
      {
        "latitude": 40.416875,
        "longitude": -3.703308,
        "city": "Madrid",
        "description": "Puerta del Sol"
      },
      {
        "latitude": 40.417438,
        "longitude": -3.693363,
        "city": "Madrid",
        "description": "Paseo del Prado"
      },
      {
        "latitude": 40.407015,
        "longitude": -3.691163,
        "city": "Madrid",
        "description": "Estación de Atocha"
      }
    ]
}

'''

In [23]:
#Codea aqui para acceder a las 3 description de otro_JSON con ayuda de un for
data_json = json.loads(otro_JSON)  
data_json
#
len(data_json['marcadores'])
#
data_json['marcadores'][0]
#
for llaves in range(len(data_json['marcadores'])):
  print(data_json['marcadores'][llaves]['description'])

Puerta del Sol
Paseo del Prado
Estación de Atocha

##API

Minichallenge

Haz una consulta a la siguiente API y obten todos los elementos de 'sunrise' del JSON que da como resultado

* [Sunrise Sunset](https://sunrise-sunset.org/api)

In [24]:
import requests

In [25]:
url = "https://api.sunrise-sunset.org/json"
results = requests.get(url)
data = results.json()

In [26]:
data

{'results': {'astronomical_twilight_begin': '4:42:02 AM',
  'astronomical_twilight_end': '7:19:24 PM',
  'civil_twilight_begin': '5:34:34 AM',
  'civil_twilight_end': '6:26:52 PM',
  'day_length': '12:09:32',
  'nautical_twilight_begin': '5:08:22 AM',
  'nautical_twilight_end': '6:53:04 PM',
  'solar_noon': '12:00:43 PM',
  'sunrise': '5:55:57 AM',
  'sunset': '6:05:29 PM'},
 'status': 'OK'}

In [27]:
data['results']["sunrise"]

'5:55:57 AM'